*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.top-nav{
    padding: 5px;
    height: 5%;
    background-color: rgb(32, 32, 32);
    color: white;
}
.left{
    display: flex;
    width: 80%;
    justify-content: flex-end;
}
.right{
    display: flex;
    width: 75%;
    justify-content: flex-end;
}
p{
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 14px;
}
.heading{
    text-align: center;
    height: 30%;
    padding: 5px;
    background-color: black;
    color: white;
}
h1{
    font-size: 50px;
    font-weight: 550;
    font-family: serif;
    text-transform: uppercase;
}
.heading p{
    font-size: 18px;
    font-family: sans-serif;
}
.nav{
    height: 5%;
    background-color: rgb(194, 12, 12);
    color:white;
    font-weight: bold;
}
.content{
    display: flex;
    width: 90%;
    padding-left: 15%;
    align-items: center;
}
.search{
    display: flex;
    width: 45%;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}
.search p{
    font-size: 20px;
}
.column{
    padding: 20px;
    width: 50%;
    margin-left: 16.8%;
    display: flex;
    flex-direction: column;
   align-content: space-between;
   justify-content: space-between;
}
h2{
    text-transform: uppercase;
}
.hr{
    width: 140%;
   height: 3px;
   background-color: black;
   border-radius: 5px;
   margin-top: 10px;
}
.box{
    height: 100px;
    width: 150px;
    margin-right: 2%;
    background-color: grey;
    float: left;
}
.news strong{
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    padding: 50px;
    text-align: center;
}

.links:hover{
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
}
.home:hover{
    background-color: rgb(240, 119, 119);
    color: rgb(134, 96, 96);
    cursor: pointer;
    padding: 5px;
}
.right img{
    height: 20px;
    width: 20px;
    cursor: pointer;
   opacity: 0.65;
   background-color:white;
   border-radius: 100%;
}
.right img:hover{
    opacity: 1;
}
.side-news{
    position: absolute;
    left: 70%;
    top: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
